<template>
  <stories-list v-bind:storiesIdList="storiesIdList"/>
</template>

<script>
import StoriesList from 'components/StoriesList'
import apiServices from 'services/apiServices'

export default {
  components: {
    StoriesList
  },
  data () {
    return {
      storiesIdList: []
    }
  },
  mounted () {
    const self = this
    apiServices.getNewStories().then(response => {
      self.storiesIdList = response
    })
  }
}
</script>
