<template>
  <v-container class="pt-0">
    <v-row>
      <v-col cols="12">
        <p class="title">Comments:</p>
        <div v-for="comment in comments" :key="comment.id">
          <comment-card class="mb-0" v-bind:comment="comment"/>

          <v-container class="pt-0" v-if="comment.kids">
            <v-row>
              <v-col cols="12">
                <comment-replies v-bind:repliesIdsList="comment.kids"/>
              </v-col>
            </v-row>
          </v-container>

          <v-divider />
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import apiServices from 'services/apiServices'
import CommentCard from 'components/CommentCard'
import CommentReplies from 'components/CommentReplies'

export default {
  components: {
    'comment-card': CommentCard,
    'comment-replies': CommentReplies
  },
  props: {
    commentsIdsList: {
      default: null,
      type: Array
    }
  },
  data () {
    return {
      loadingText: 'Loading comments',
      comments: []
    }
  },
  watch: {
    commentsIdsList: function (val) {
      if (this.commentsIdsList.length > 0) this.getCommentsList(val)
    }
  },
  mounted () {
    if (this.commentsIdsList.length > 0) this.getCommentsList(this.commentsIdsList)
  },
  methods: {
    async getCommentsList (listOfIds, from, to) {
      const self = this
      const responseComments = []

      self.comments = []

      self.$store.commit('setShowLoading', true)
      self.$store.commit('setLoadingText', self.loadingText)

      await apiServices.getComments(listOfIds).then((response) => {
        response.forEach((comment) => {
          responseComments.push(comment.data)
        })
        self.comments = [...responseComments]
      })

      self.$store.commit('setShowLoading', false)
    }
  }
}
</script>
