<template>
  <v-container fluid class="py-0">
    <v-row>
      <v-col cols="12" class="pt-0">
        <v-list-group
          prepend-icon="mdi-forum-outline"
          no-action
          @click="getRepliesList(repliesIdsList)"
        >
          <template v-slot:activator>
            <v-list-item-title >{{repliesIdsList.length}} Replies</v-list-item-title>
          </template>

          <div v-for="reply in replies" :key="reply.id">
            <comment-card class="mb-3 replies" v-bind:comment="reply"/>
          </div>
        </v-list-group>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import apiServices from 'services/apiServices'
import CommentCard from 'components/CommentCard'

export default {
  components: {
    'comment-card': CommentCard
  },
  props: {
    repliesIdsList: {
      default: null,
      type: Array
    }
  },
  data () {
    return {
      loadingText: 'Loading replies',
      replies: []
    }
  },
  watch: {
    repliesIdsList: function (val) {
      // if (this.repliesIdsList.length > 0) this.getRepliesList(val)
    }
  },
  mounted () {
    // if (this.repliesIdsList.length > 0) this.getRepliesList(this.repliesIdsList)
  },
  methods: {
    async getRepliesList (listOfIds, from, to) {
      const self = this
      const responseReplies = []

      self.replies = []

      self.$store.commit('setShowLoading', true)
      self.$store.commit('setLoadingText', self.loadingText)

      await apiServices.getComments(listOfIds).then((response) => {
        response.forEach((comment) => {
          responseReplies.push(comment.data)
        })
        self.replies = [...responseReplies]
      })

      self.$store.commit('setShowLoading', false)
    }
  }
}
</script>
