<template>
  <v-card elevation="0">
    <v-list class="pb-0">
      <v-list-item three-line>
        <v-list-item-content class="pb-0">
          <div class="font-weight-bold">
            <span class="desc">{{ comment.by }} ({{ comment.time | formatDateFromNow }})</span>
          </div>
          <p v-html="comment.text"/>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
export default {
  props: {
    comment: {
      default: null,
      type: Object
    }
  },
  data () {
    return {
    }
  },
  watch: {
    comment: function (val) {
    }
  },
  mounted () {

  },
  methods: {
    setStoryDialog () {
    }
  }
}
</script>
