<template>
  <div>
    <v-app-bar dense color="primary" class="white--text">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>
        <router-link
          to="/"
          class="d-flex white--text"
        > My Hacker News
        </router-link>
      </v-toolbar-title>

      <v-spacer />

      <div class="d-none d-md-flex">
        <router-link
          to="/top-stories"
          class="d-flex"
        >
          <v-icon small color="white">mdi-trending-up</v-icon>
          <span class="ml-1 mr-4 white--text">Top</span>
        </router-link>

        <router-link
          to="/new-stories"
          class="d-flex"
        >
          <v-icon small color="white">mdi-alert-decagram</v-icon>
          <span class="mr-4 ml-1 white--text">New</span>
        </router-link>

        <router-link
          to="/best-stories"
          class="d-flex"
        >
          <v-icon small color="white">mdi-star</v-icon>
          <span class="mr-4 ml-1 white--text">Best</span>
        </router-link>
      </div>

      <v-spacer />

      <v-btn icon color="white" class="pr-5">
        <v-icon small>mdi-login</v-icon>
        login
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      absolute
      left
      temporary
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="group"
          active-class="deep-orange--text text--accent-4"
        >
          <v-subheader>
            <v-app-bar-nav-icon
              class="mr-3 white--text"
              @click.stop="drawer = !drawer"
            />
            <v-icon
              class="mr-3"
              medium
            >
              mdi-book-open-page-variant
            </v-icon>Stories
          </v-subheader>

          <v-list-item>
            <v-list-item-title>
              <router-link
                to="/top-stories"
                class="d-flex"
              >
                <v-icon>mdi-trending-up</v-icon>
                <span class="body-1 ml-3">Top</span>
              </router-link>
            </v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>
              <router-link
                to="/new-stories"
                class="d-flex"
              >
                <v-icon>mdi-alert-decagram</v-icon>
                <span class="body-1 ml-3">New</span>
              </router-link>
            </v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>
              <router-link
                to="/best-stories"
                class="d-flex"
              >
                <v-icon>mdi-star</v-icon>
                <span class="body-1 ml-3">Best</span>
              </router-link>
            </v-list-item-title>
          </v-list-item>

          <v-divider />

          <v-subheader inset>
            Other
          </v-subheader>

          <v-list-item>
            <v-list-item-title>Comments</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Ask</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Show</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Jobs</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Submit</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data () {
    return {
      drawer: false,
      group: null
    }
  },
  watch: {
    group () {
      this.drawer = false
    }
  }
}
</script>
