<template>
  <v-dialog
    v-model="loadingStatus"
    hide-overlay
    persistent
    width="300"
  >
    <v-card
      color="primary"
      dark
    >
      <v-card-text>
        {{ loadingText }}
        <v-progress-linear
          indeterminate
          color="white"
          class="mb-0"
        />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
    }
  },
  computed: {
    ...mapState({
      loadingStatus: store => store.apiLoading.showLoading,
      loadingText: store => store.apiLoading.loadingText
    })
  },
  methods: {
    setLoadingText () {
      this.$store.commit('setLoadingText', false)
    }
  }
}
</script>
