<template>
  <v-row justify="center">
    <v-dialog
      v-model="showModal"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar
          dark
          color="primary"
        >
          <v-toolbar-title>
            <v-icon
              class="mr-3 mb-2"
              large
            >
              mdi-book-open-page-variant
            </v-icon>Story details:
          </v-toolbar-title>
          <v-spacer />
          <v-btn
            icon
            dark
            @click="setStoryDialog"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-container class="pb-0">
            <v-row>
              <v-col cols="12">
                <v-row>
                  <v-col cols="10">
                    <p class="display-1">{{ story.title }}</p>
                  </v-col>
                  <v-col cols="2">
                    <a target="_blank" :href="story.url" class="headline float-right"><v-icon large color="primary">mdi-web</v-icon> Visit</a>
                  </v-col>
                </v-row>
                <p class="subtitle">{{ story.score }} points by {{ story.by }} | {{ story.descendants }} comments | {{ story.time | formatDateFromNow }}</p>
                <p class="title">{{ story.text }}</p>
                <v-divider />
              </v-col>
            </v-row>
          </v-container>
          <comments-list v-bind:commentsIdsList="commentsIdsList" v-bind:totalComments="story.descendants"/>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'

import CommentsList from 'components/CommentsList'

export default {
  components: {
    'comments-list': CommentsList
  },
  data () {
    return {
      commentsIdsList: []
    }
  },
  computed: {
    ...mapState({
      showModal: store => store.storyDialog.showModal,
      story: store => store.storyDialog.story
    })
  },
  watch: {
    story: function (val) {
      this.commentsIdsList = [...val.kids]
    }
  },
  mounted () {
  },
  methods: {
    setStoryDialog () {
      this.$store.commit('setStoryDialog', false)
    }
  }
}
</script>
