<template>
  <v-card
    :link="true"
    :hover="true"
    @click="setStoryDialog"
  >
    <v-list>
      <v-list-item three-line>
        <v-list-item-content>
          <div class="overline mb-3">
            {{ story.type }} <button class="float-right" @click="setStoryDialog">
              <span class="caption blue--text">
                View<v-icon color="blue">mdi-chevron-right</v-icon>
              </span>
            </button>
            <v-spacer />
            {{ story.time | formatDate }}
          </div>
          <v-list-item-title class="title mb-1">
            <span v-html="story.title"></span>
          </v-list-item-title>
          <v-list-item-subtitle>
            {{ story.score }} points by {{ story.by }} | {{ story.descendants }} comments | {{ story.time | formatDateFromNow }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
export default {
  name: 'StoryCard',
  props: {
    story: {
      default: null,
      type: Object
    }
  },
  data () {
    return {
      showText: false
    }
  },
  watch: {
    story: function (val) {
    }
  },
  mounted () {

  },
  methods: {
    setStoryDialog () {
      this.$store.commit('setStoryData', this.story)
      this.$store.commit('setStoryDialog', true)
    }
  }
}
</script>
