<template>
  <div>
    <v-container
      ref="storyList"
      fluid
    >
      <v-data-iterator
        :items="stories"
        :items-per-page.sync="itemsPerPage"
        :page.sync="page"
        :search="search"
        :sort-by="sortBy.toLowerCase()"
        :sort-desc="sortDesc"
        hide-default-footer
      >
        <template v-slot:header>
          <v-toolbar
            flat
            color=""
            class="mb-1"
          >
            <v-text-field
              v-model="search"
              clearable
              flat
              hide-details
              prepend-inner-icon="mdi-search"
              label="Search page"
            />
            <template v-if="$vuetify.breakpoint.mdAndUp">
              <v-spacer />
              <v-select
                v-model="sortBy"
                flat
                hide-details
                :items="keys"
                prepend-inner-icon="mdi-search"
                label="Sort page by"
              />
              <v-spacer />
              <v-btn-toggle
                v-model="sortDesc"
                mandatory
              >
                <v-btn
                  depressed
                  color="secondary"
                  :value="false"
                >
                  <v-icon color="white">mdi-arrow-up</v-icon>
                </v-btn>
                <v-btn
                  depressed
                  color="secondary"
                  :value="true"
                >
                  <v-icon color="white">mdi-arrow-down</v-icon>
                </v-btn>
              </v-btn-toggle>
            </template>
          </v-toolbar>
        </template>
        <template v-slot:default="props">
          <v-row>
            <v-col
              v-for="story in props.items"
              :key="story.id"
              cols="12"
              sm="12"
              md="12"
              lg="6"
            >
              <story-card v-bind:story="story" />
            </v-col>
          </v-row>
        </template>

        <template v-slot:footer>
          <v-row
            class="mt-2"
            align="center"
            justify="center"
          >
            <span class="grey--text">Items per page</span>
            <v-menu offset-y>
              <template v-slot:activator="{ on }">
                <v-btn
                  dark
                  text
                  color="primary"
                  class="ml-2"
                  v-on="on"
                >
                  {{ itemsPerPage }}
                  <v-icon>mdi-chevron-down</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(number, index) in itemsPerPageArray"
                  :key="index"
                  @click="updateItemsPerPage(number)"
                >
                  <v-list-item-title>{{ number }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>

            <v-spacer />

            <span
              class="mr-4
            grey--text"
            >
              Page {{ page }} of {{ numberOfPages }}
            </span>
            <v-btn
              fab
              dark
              color="secondary"
              class="mr-1"
              @click="formerPage"
            >
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn
              fab
              dark
              color="secondary"
              class="ml-1"
              @click="nextPage"
            >
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
          </v-row>
        </template>
      </v-data-iterator>
    </v-container>
    <story-details />
  </div>
</template>

<script>
import StoryCard from 'components/StoryCard'
import StoryDetails from 'components/StoryDetails'
import apiServices from 'services/apiServices'

// Import Vuetify goto for scrollTo
import goTo from 'vuetify/es5/services/goto'

export default {
  components: {
    'story-card': StoryCard,
    'story-details': StoryDetails
  },
  props: {
    storiesIdList: {
      default: null,
      type: Array
    }
  },
  data () {
    return {
      loadingText: 'Loading stories',
      itemsPerPageArray: [],
      search: '',
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 30,
      sortBy: '',
      keys: [
        'title',
        'by',
        'score',
        'time',
        'url'
      ],
      items: [
        {
          by: 'enigmabridge',
          descendants: 32,
          id: 22578188,
          kids: [
            22578584,
            22578253,
            22578544,
            22578260,
            22578279,
            22578659,
            22578707,
            22578272,
            22578308,
            22578294,
            22578273,
            22578727
          ],
          score: 36,
          time: 1584215937,
          title: 'Czech Passive Radar Detecting B-2 at 150 miles',
          type: 'story',
          url: 'https://defence-blog.com/army/anti-stealth-radar-vera-ng-of-vietnam-in-action.html'
        },
        {
          by: 'HaukeHi',
          descendants: 14,
          id: 22582387,
          kids: [
            22582806,
            22582771,
            22582752,
            22582813,
            22582755,
            22582538,
            22582726,
            22582648,
            22582751,
            22582745
          ],
          score: 60,
          time: 1584264762,
          title: 'Vitamin D deficiency worsens Respiratory Tract Infections: Meta-analysis',
          type: 'story',
          url: 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6747229/'
        },
        {
          by: 'enigmabridge',
          descendants: 32,
          id: 22578188,
          kids: [
            22578584,
            22578253,
            22578544,
            22578260,
            22578279,
            22578659,
            22578707,
            22578272,
            22578308,
            22578294,
            22578273,
            22578727
          ],
          score: 36,
          time: 1584215937,
          title: 'Czech Passive Radar Detecting B-2 at 150 miles',
          type: 'story',
          url: 'https://defence-blog.com/army/anti-stealth-radar-vera-ng-of-vietnam-in-action.html'
        },
        {
          by: 'enigmabridge',
          descendants: 32,
          id: 22578188,
          kids: [
            22578584,
            22578253,
            22578544,
            22578260,
            22578279,
            22578659,
            22578707,
            22578272,
            22578308,
            22578294,
            22578273,
            22578727
          ],
          score: 36,
          time: 1584215937,
          title: 'Czech Passive Radar Detecting B-2 at 150 miles',
          type: 'story',
          url: 'https://defence-blog.com/army/anti-stealth-radar-vera-ng-of-vietnam-in-action.html'
        }
      ],
      stories: []
    }
  },
  computed: {
    numberOfPages () {
      return Math.ceil(this.storiesIdList.length / this.itemsPerPage)
    },
    filteredKeys () {
      return this.keys.filter(key => key !== 'id')
    }
  },
  watch: {
    storiesIdList: function (val) {
      this.getStoriesListFromIDs(val, 0, this.itemsPerPage)
    },
    stories: function (val) {
    }
  },
  mounted () {
  },
  methods: {
    async nextPage () {
      if (this.page + 1 <= this.numberOfPages) {
        const fromIndex = (this.page + 1) * this.itemsPerPage
        const toIndex = fromIndex + this.itemsPerPage

        goTo(this.$refs.storyList, 0, 5000)

        // only load/call next new items
        if (this.stories.length < fromIndex) await this.getStoriesListFromIDs(this.storiesIdList, fromIndex, toIndex)

        this.page += 1
      }
    },
    formerPage () {
      if (this.page - 1 >= 1) this.page -= 1
      goTo(this.$refs.storyList, 0, 5000)
    },
    updateItemsPerPage (number) {
      this.itemsPerPage = number
    },
    async getStoriesListFromIDs (listOfIds, from, to) {
      const self = this
      const idsChunk = listOfIds.slice(from, to)

      self.$store.commit('setShowLoading', true)
      self.$store.commit('setLoadingText', self.loadingText)

      await apiServices.getStories(idsChunk).then((response) => {
        response.forEach((story) => {
          self.stories.push(story.data)
        })
      })

      self.$store.commit('setShowLoading', false)
    }
  }
}
</script>
