<template>
  <v-app>
    <header-nav />
    <v-container>
      <v-row>
        <v-col cols="12">
          <router-view />
        </v-col>
      </v-row>
    </v-container>
    <loading-overlay />
  </v-app>
</template>

<script>
import HeaderNav from 'components/HeaderNav'
import LoadingOverlay from 'components/LoadingOverlay'

export default {
  components: {
    'loading-overlay': LoadingOverlay,
    'header-nav': HeaderNav
  },
  data () {
    return {
    }
  },
  mounted () {
  }
}
</script>
